@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --bage-color: #e84141;
  --background: #1e1e1e;
  --sidebar: #36393e;
  --hover-item: rgb(218, 216, 216);
}
body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}
.navbar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: var(--sidebar);
  position: fixed;
  height: 1000%;
  overflow: auto;
  border-top-right-radius: 5px;
}
.logo {
  display: block;
  /*border: 5px solid var(--bage-color);*/
  border-radius: 500px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.main-welcome {
  position: absolute;
  text-align: center;
  color: aliceblue;
  font-size: 35px;
  font-family: Trebuchet MS;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 40%;
  transform: translateX(-40) translateY(-50);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text1 {
  position: absolute;
  text-align: center;
  color: dimgrey;
  font-family: Trebuchet MS;
  margin: 0;
  padding: 0;
  top: 42%;
  left: 40%;
  transform: translateX(-40) translateY(-42);
  text-transform: capitalize !important;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.super {
  position: absolute;
  text-align: center;
  font-size: small;
  color: dimgrey;
  font-family: Trebuchet MS;
  margin: 0;
  padding: 0;
  top: 60%;
  left: 41%;
  transform: translateX(-40) translateY(-42);
  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section {
  list-style: none;
  position: relative;
}
.section li {
  padding: 10px 0;
}

.section li a {
  color: aliceblue;
  text-decoration: none;
  font-family: "Trebuchet MS";
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.section li a i {
  font-size: 22px;
  margin-right: 20px;
}
.section li:hover a {
  color: var(--bage-color);
}

.hello {
  position: absolute;
  text-align: center;
  font-size: small;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
  top: 30%;
  left: 50%;
  transform: translateX(-40) translateY(-42);
  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text2 {
  position: absolute;
  text-align: center;
  font-size: small;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  top: 42%;
  left: 45%;
  transform: translateX(-40) translateY(-42);
  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about {
  position: absolute;
  text-align: center;
  font-size: small;
  color: rgb(126, 126, 126);
  font-family: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
  top: 50%;
  left: 40%;
  transform: translateX(-40) translateY(-42);
  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.progress {
  position: absolute;
  width: 800px;
  height: 500px;
  /*border: 5px solid #e84141;*/
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.item {
  height: 15%;
  width: 90%;
  color: white;
  margin: 15px;
  text-align: left;
  background-color: #36393e;
  /*border: 1px solid gray;*/
  border-radius: 5px;
  display: inline-block;
  border-left: 5px solid aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: block;
  /* margin-top: 1%;
  margin-left: 1%;*/
  border-radius: 100px;
  width: 60px;
  height: 60px;

  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bar-bg {
  display: block;
  width: 50%;
  height: 0.9rem;
  margin: 0 15px;
  flex: 0 0 auto;
  border-radius: 100px;
  background-color: #c2c2c228;
}
.bar {
  height: 00.9rem;
  border-radius: 100px;
  background-color: #e84141;
  animation: barFil 2s 1;
}

.item:hover {
  box-shadow: 0px 0px 5px var(--hover-item);
}

.percentage {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text3 {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes barFil {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.projects-container {
  position: absolute;
  width: 800px;
  height: 500px;
  /*border: 5px solid #e84141;*/
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.project {
  height: 45%;
  width: 90%;
  color: white;
  margin: 15px;
  text-align: left;
  background-color: #36393e;
  /*border: 1px solid gray;*/
  border-radius: 5px;
  display: inline-block;

  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px;
}

.text4 {
  position: absolute;
  text-align: center;
  font-size: small;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  top: 5%;
  left: 45%;
  transform: translateX(-40) translateY(-42);
  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.type {
  display: inline-block;
  padding: 25px;
  font-family: "Poppins", sans-serif;
  font-size: small;
  text-transform: capitalize !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.site {
  height: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin: 15px;
  text-align: left;
  /*background-color: #36393e;
  border: 1px solid gray;*/
  border-radius: 5px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellect:hover {
  color: #e84141;
}

.accounts {
  position: absolute;
  width: 800px;
  height: 500px;
  /*border: 5px solid #e84141;*/
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
